@import '~antd/dist/antd.css';

:root {
    --main-blue: #5C87DB;
    --secondary-blue: #3E67B7;
    --sticker-blue: #8BA5D8;
    --text-main-color: #5C5C5C;
    --gray-color: #B7BAC1;
    --border-radius: 10px;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

p, h1, h2, h3, h4, h5, h6 {
    margin: 0;
} 

body {
    color: var(--text-main-color);
}

.App {
    display: flex;
    justify-content: center;
}